{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/objects/generic/arcadegame/consoleheader.png",
      "fileBody" : "/objects/generic/arcadegame/consolebody.png"
    },
    "scriptCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [39, 44, 431, 290],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 2,
      "type" : "button",
      "base" : "/interface/cockpit/xup.png",
      "hover" : "/interface/cockpit/xdown.png",
      "pressed" : "/interface/cockpit/xdown.png",
      "callback" : "close",
      "position" : [413, 263],
      "pressedOffset" : [0, -1]
    },
    "labelFULLNAME" : {
      "type" : "label",
      "position" : [55, 258],
      "hAnchor" : "left",
      "value" : "Ground-Penetrating Radar Station",
      "color" : [117, 117, 117]
    },
	"labelACRONYM" : {
      "type" : "label",
      "position" : [55, 267],
      "hAnchor" : "left",
      "value" : "GPR-Mapper",
      "color" : [200, 200, 200]
    }
  },

  "scripts" : [
    "/scripts/util.lua", 
    "/scripts/vec2.lua", 
    "/objects/generic/gprmap/gprconsolegui.lua"
  ],
  "scriptDelta" : 60,
  "scriptCanvas" : "scriptCanvas"
}
