{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Searing ", "Star Knight's ", "War Angel's ", "Light ", "Deadly ", "Alien's ", "Murderous ", "Great " ],
      [ { "mode" : "alts" }, "Energy Blade", "Saber", "Decapitator", "Destroyer", "Lightsword", "Blade", "Eviscerator", "Death-cutter", "Lasersaber" ]
    ]
  ]
}