{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Harpoon ", "Ocean ", "Thunder ", "Fish ", "Fishy ", "Spear ", "Strike ", "Charge ", "Impaling ", "Spearhead ", "Doom ", "Fun ", "Partytime " ],
      [ { "mode" : "alts" }, "Gun", "Launcher", "Thrower", "Shooter", "Stabber", "Spearer", "Impaler" ]
    ]
  ]
}
