{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Acceptable ", "Annoying ", "Glittering ", "Super ", "Astounding ", "Terrible ", "Smelly ", "Radical ", "Holy ", "Stinky ", "Adequate ", "Sub-par " ],
      [ { "mode" : "alts" }, "Launcher", "Thrower", "Spewer", "Ejector", "Eruptor", "Spitter" ]
    ]
  ]
}
