{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/v6songbook/header.png",
      "fileBody" : "/interface/v6songbook/body_blank.png",
      "fileFooter" : "/interface/v6songbook/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [321, 323]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Starbound Songbook",
      "subtitle" : "^#b9b5b2;Music",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/songbook/iconSongbook.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/v6songbook/shine.png",
      "position" : [0, 8],
      "zlevel" : -10
    },
    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/v6songbook/scrollbg.png",
      "position" : [2, 51],
      "zlevel" : -5
    },
    "lblSong" : {
      "type" : "label",
      "position" : [167, 304],
      "hAnchor" : "mid",
      "value" : "Choose a song",
      "color" : [127, 127, 127]
    },
    "songs" : {
      "type" : "scrollArea",
      "rect" : [4, 60, 335, 291],
      "children" : {
        "list" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/v6songbook/songselected.png",
            "unselectedBG" : "/interface/v6songbook/songbackground.png",
            "spacing" : [0, 0],
            "memberSize" : [322, 10],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/v6songbook/songbackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "songName" : {
                "type" : "label",
                "position" : [2, 0],
                "hAnchor" : "left",
                "width" : 483,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
    },
    "group" : {
      "type" : "textbox",
      "position" : [114, 29],
      "hint" : "Play Solo",
      "maxWidth" : 50
    },
    "lblBand" : {
      "type" : "label",
      "position" : [168, 42],
      "hAnchor" : "mid",
      "value" : "Enter band name to play as a group",
      "color" : [127, 127, 127]
    },
    "lblBandInput" : {
      "type" : "image",
      "file" : "/interface/songbook/band.png",
      "position" : [99, 26],
      "zlevel" : -3
    },
    "lblBandPlayback" : {
      "type" : "label",
      "position" : [148, 36],
      "hAnchor" : "mid",
      "value" : "",
      "color" : [127, 127, 127]
    },
    "btnPlay" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [180, 26],
      "caption" : "Play"
    }
  }
}
