{
  "damageFactors" : {
    "plantish" : 0.3,
    "blockish" : 0.6,
    "beamish" : 0.6,
    "protected" : 0.1,
    "explosive" : 1.0,
    "fire" : 0.0,
    "tilling" : 0.0
  },

  "damageRecovery" : 0.2,
  "dropCollision" : [-4.0, -5.0, 4.0, 5.0],
  "missingIcon" : "/interface/inventory/x.png",

  "materialItems" : {
    "cooldown" : 0.05
  },

  "liquidItems" : {
    "cooldown" : 0.15,
    "bucketSize" : 1.0
  },
  "blockRadius" : 2,
  "altBlockRadius" : 1,
  "pickupSounds" : [ "/sfx/interface/item_pickup.wav" ],
  "defaultTimeToLive" : 300.0,
  "defaultMaxStack" : 9999,

  "defaultPrice" : 0,
  "blueprintPriceFactor" : 1.25
}
