{
  "canBookmark" : false,
  "destinations" : [
    {
      "name" : "Research Center",
      "planetName" : "Researching Ancient Planets",
      "warpAction" : "InstanceWorld:researchcenter",
      "icon" : "outpost"
    },
    {
      "name" : "Outpost",
      "planetName" : "Survivors' Settlement",
      "warpAction" : "InstanceWorld:outpost",
      "icon" : "outpost"
    },
    {
      "name" : "Ark",
      "planetName" : "Mysterious Ruin",
      "warpAction" : "InstanceWorld:monolith",
      "icon" : "ark"
    },
    {
      "name" : "Abandoned Outpost",
      "planetName" : "An Empty Settlement",
      "warpAction" : "InstanceWorld:yourownoutpost",
      "icon" : "outpost"
    }
  ],
  "includePlayerBookmarks" : false
}
