{
  "speciesOrdering" : ["human", "avian", "apex", "floran", "hylotl", "glitch", "novakid"],
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/title/charactercreation.png"
    },
    "labelPortrait" : {
      "type" : "label",
      "position" : [126, 210],
      "hAnchor" : "left",
      "value" : "HUMAN"
    },
    "labelMainSkinColor" : {
      "type" : "label",
      "position" : [115, 129],
      "hAnchor" : "left"
    },
    "mainSkinColor" : {
      "type" : "spinner",
      "position" : [199, 129],
      "zlevel" : 1
    },
    "labelHairStyle" : {
      "type" : "label",
      "position" : [115, 119],
      "hAnchor" : "left"
    },
    "hairStyle" : {
      "type" : "spinner",
      "position" : [199, 119],
      "zlevel" : 1
    },
    "labelShirt" : {
      "type" : "label",
      "position" : [115, 109],
      "hAnchor" : "left"
    },
    "shirt" : {
      "type" : "spinner",
      "position" : [199, 109],
      "zlevel" : 1
    },
    "labelPants" : {
      "type" : "label",
      "position" : [115, 99],
      "hAnchor" : "left"
    },
    "pants" : {
      "type" : "spinner",
      "position" : [199, 99],
      "zlevel" : 1
    },
    "labelAlty" : {
      "type" : "label",
      "position" : [115, 89],
      "hAnchor" : "left"
    },
    "alty" : {
      "type" : "spinner",
      "position" : [199, 89],
      "zlevel" : 1
    },
    "labelHeady" : {
      "type" : "label",
      "position" : [115, 79],
      "hAnchor" : "left"
    },
    "heady" : {
      "type" : "spinner",
      "position" : [199, 79],
      "zlevel" : 1
    },
    "labelShirtColor" : {
      "type" : "label",
      "position" : [115, 69],
      "hAnchor" : "left"
    },
    "shirtColor" : {
      "type" : "spinner",
      "position" : [199, 69],
      "zlevel" : 1
    },
    "labelPantsColor" : {
      "type" : "label",
      "position" : [115, 59],
      "hAnchor" : "left"
    },
    "pantsColor" : {
      "type" : "spinner",
      "position" : [199, 59],
      "zlevel" : 1
    },
    "labelPersonality" : {
      "type" : "label",
      "position" : [115, 49],
      "hAnchor" : "left"
    },
    "personality" : {
      "type" : "spinner",
      "position" : [199, 49],
      "zlevel" : 1
    },
    "randomize" : {
      "type" : "button",
      "base" : "/interface/title/diceC.png",
      "hover" : "/interface/title/diceoverC.png",
      "position" : [184, 150]
    },
    "randomName" : {
      "type" : "button",
      "base" : "/interface/title/diceC.png",
      "hover" : "/interface/title/diceoverC.png",
      "position" : [207, 220]
    },
    "saveChar" : {
      "type" : "button",
      "base" : "/interface/title/create_button.png",
      "hover" : "/interface/title/create_buttonhover.png",
      "position" : [138, 10],
      "caption" : "Create"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/title/cancel_button.png",
      "hover" : "/interface/title/cancel_buttonhover.png",
      "position" : [31, 10],
      "caption" : "Cancel"
    },
    "species" : {
      "type" : "radioGroup",
      "position" : [5, 171],
      "baseImage" : "/interface/title/buttonC.png",
      "hoverImage" : "/interface/title/buttonoverC.png",
      "baseImageChecked" : "/interface/title/selectedC.png",
      "hoverImageChecked" : "/interface/title/selectedoverC.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "position" : [0, 0]
        },
        {
          "id" : 1,
          "image" : "",
          "position" : [22, 0]
        },
        {
          "id" : 2,
          "image" : "",
          "position" : [44, 0]
        },
        {
          "id" : 3,
          "image" : "",
          "position" : [66, 0]
        },
        {
          "id" : 4,
          "image" : "",
          "position" : [0, -21]
        },
        {
          "id" : 5,
          "image" : "",
          "position" : [22, -21]
        },
        {
          "id" : 6,
          "image" : "",
          "position" : [44, -21]
        },
        {
          "image" : "",
          "position" : [0, -58]
        },
        {
          "image" : "",
          "position" : [22, -58]
        },
        {
          "image" : "",
          "position" : [44, -58]
        },
        {
          "image" : "",
          "position" : [66, -58]
        },
        {
          "image" : "",
          "position" : [0, -79]
        },
        {
          "image" : "",
          "position" : [22, -79]
        },
        {
          "image" : "",
          "position" : [44, -79]
        },
        {
          "image" : "",
          "position" : [66, -79]
        },
        {
          "image" : "",
          "position" : [0, -100]
        },
        {
          "image" : "",
          "position" : [22, -100]
        },
        {
          "image" : "",
          "position" : [44, -100]
        },
        {
          "image" : "",
          "position" : [66, -100]
        },
        {
          "image" : "",
          "position" : [0, -121]
        },
        {
          "image" : "",
          "position" : [22, -121]
        },
        {
          "image" : "",
          "position" : [44, -121]
        },
        {
          "image" : "",
          "position" : [66, -121]
        }  
      ]
    },
    "gender" : {
      "type" : "radioGroup",
      "position" : [27, 178],

      "baseImage" : "/interface/title/buttonC.png",
      "hoverImage" : "/interface/title/buttonoverC.png",
      "baseImageChecked" : "/interface/title/selectedC.png",
      "hoverImageChecked" : "/interface/title/selectedoverC.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "/interface/title/male.png",
          "position" : [0, 30]
        },
        {
          "id" : 1,
          "image" : "/interface/title/female.png",
          "selected" : true,
          "position" : [22, 30]
        }
      ]
    },
    "labelMode" : {
      "type" : "label",
      "position" : [113, 36],
      "hAnchor" : "mid",
      "zlevel" : 1
    },
    "mode" : {
      "type" : "radioGroup",
      "position" : [0, 25],

      "baseImage" : "/interface/title/checkboxnocheck.png",
      "hoverImage" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheckC.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhoverC.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "text" : "",
          "selected" : true,
          "position" : [7, 0],
          "data" : {
            "description" : "Only lose pixels upon death."
          }
        },
        {
          "id" : 1,
          "image" : "",
          "text" : "",
          "position" : [79, 0],
          "data" : {
            "description" : "Lose pixels and drop resources upon death."
          }
        },
        {
          "id" : 2,
          "image" : "",
          "text" : "",
          "position" : [157, 0],
          "data" : {
            "description" : "When you die your character stays dead."
          }
        }
      ]
    },
    "charPreview" : {
      "type" : "portrait",
      "position" : [161, 184],
      "scale" : 1.5
    },
    "name" : {
      "type" : "textbox",
      "regex" : "[a-zA-Z0-9 '-]{0,24}",
      "position" : [110, 224],
      "hint" : "Name",
      "maxWidth" : 100
    },
    "labelModeNormal" : {
      "type" : "label",
      "position" : [18, 25],
      "hAnchor" : "left",
      "value" : "Normal"
    },
    "labelModeHardcore" : {
      "type" : "label",
      "position" : [90, 25],
      "hAnchor" : "left",
      "value" : "Hardcore"
    },
    "labelModePermadeath" : {
      "type" : "label",
      "position" : [168, 25],
      "hAnchor" : "left",
      "value" : "Permadeath"
    }
  }
}
