{
  "ancientgateway" : {
    "message" : "Ancient ruins such as this can be found throughout the galaxy. I'm detecting a spatial anomaly nearby... perhaps some form of teleportation device?"
  },

  "lunarbase01" : {
    "message" : "The mining facility looks deserted. I am receiving life readings but they're unusual to say the least."
  },

  "lunarbase02" : {
    "message" : "The facility appears to be running on emergency power. We should look for a breaker."
  },

  "lunarbase03" : {
    "message" : "I obtained both Erchius and human readings from these creatures. Proceed with caution."
  },

  "lunarbase04" : {
    "message" : "The Erchius readings here are much stronger. Be careful."
  },

  "lunarbase05" : {
    "message" : "RUN!"
  },

  "lunarbase06" : {
    "message" : "I can no longer measure Erchius readings in your area, your Nano skin appears to have malfunctioned."
  },

  "lunarbase07" : {
    "message" : "Erchius crystals are immune to conventional weaponry, you'll need to find another way to damage it."
  },

  "lunarbase08" : {
    "message" : "There's enough Erchius here to fully repair the ship's FTL drive."
  },

  "floranmission101" : {
    "message" : "These ruins appear to date back thousands of years. It is probable that you are in sacred grounds."
  },

  "floranmission102" : {
    "message" : "I am reading a lot of different life signs in these tunnels. I would advise caution here."
  },

  "floranmission103" : {
    "message" : "That girl is young for a hunter, yet she seemed calm in these tunnels. Intriguing."

  },

  "floranmission104" : {
    "message" : "The hunters in these tunnels seem determined to take out the competition. What is it that they are hunting?"
  },

  "floranmission105" : {
    "message" : "This residue is organic in origin. Something large must have produced it. I will analyse the data."
  },

  "crewlovejones1" : {
    "message" : "It appears as though the message came down in the gully in front of us, there should be enough liquid to protect our fall."
  },

  "crewlovejones2" : {
    "message" : "Inside Taylor's locker is her console, if you put that on your ship, along with a colony deed, she'll be our first mate!"
  },

  "crewspongewaltzer" : {
    "message" : "This Hylotl's house is locked down by the security system...it appears his four tenant houses are connected to them. Let's help him!"
  },

  "crewthorngrazer" : {
    "message" : "The monster seems to be the one Kananna mentioned, but no sight of his console, we'll have to see what's ahead."
  },

  "crewthorngrazer2" : {
    "message" : "It seems as though this strange frog has been taking Floran items from the village...maybe Kananna's console is in this chest."
  },

  "crewgenekong" : {
    "message" : "I felt a slight earthquake earlier, but thought nothing of it...apologies. Luckily our teleportation point is fine."
  },

  "crewdivewings" : {
    "message" : "This must be the room that Maneca mentioned, you must defeat the life forms within this area."
  },

  // ----------------------------------------------------------------

  "test" : {
    "message" : "Testing, testing... one, two, three."
  },

  "testemote" : {
    "message" : "Are you angry, brother?",
    "frame" : "yell.1"
  },

  "testimage" : {
    "message" : "Hello there, dear.",
    "portraitImage" : "/ai/portraits/horseboobsportrait.png:idle.0"
  }
}