{
	"friendlyguard_hail" : {
		"felin" : {
			"default" : [
				"Boss~",
				"Reporting for duty, Boss!",
				"All clear, Boss!",
				"Love ya, Boss."
			],
			"human" : [
				"Boss?",
				"Reporting for duty, Boss!",
				"All clear, Boss!"
			],
			"hylotl" : [
				"Boss~",
				"Reporting for duty, Boss!",
				"All clear, Boss!",
				"Stay fresh, Boss."
			]
		}
	},
	"comforter_tagCriteria" : {
		"default" : [
			"This place... I don't like this feeling.",
			"I don't think I can work in a place like this..."
		]
	},
	"comforter_converse" : {
		"felin" : {
			"default" : [
				"I wish I could make that hologram look more like me.",
				"My name's <selfname>, traveller. Care to tell me yours?",
				"Can I help, perhaps?"
			],
			"apex" : [
				"Only ten pixels for a good cuddling. Interested?",
				"I wish I could make that hologram look more like me.",
				"My name's <selfname>, traveller. Care to tell me yours?",
				"Can I help, perhaps?",
				"Big Ape can't see what you get up to here."
			],
			/* --Avians, Florans, Glitch, Humans, and Hylotl missing-- */
			"felin" : [
				"Only ten pixels for a good cuddling. Interested?",
				"Fifty pixels and <selfname> goes all the way, sugar.",
				"Others would also do construction work, or hunting. I just make people... happy.",
				"It's a good life, really.",
				"I wish I could make that hologram look more like me.",
				"My name's <selfname>, Hunter. Care to tell me yours?"
			],
			"avali" : [
				"I don't think it'd work out between us.",
				"No offense, but you smell.",
				"I'm afraid it's just a cuddle or hug for you, Raptor."
			]
			/* --Khajiit missing-- */
		}
	},
	"mystic_attack" : {
		"default" : [
			"Death to the unbeliever!"
		]
	}
}