{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots41to48.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [39, 154],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [80, 108],
      "dimensions" : [4, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [4, 32],
      "slotOffset" : 16,
      "dimensions" : [8, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Drag & Drop",
      "hAnchor" : "mid",
      "position" : [40, 112]
    },
    "count" : {
      "type" : "label",
      "value" : "42 SLOTS",
      "hAnchor" : "mid",
      "position" : [120, 185]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine41to48.png",
      "position" : [0, 4]
    }
  }
}
