{ 
  "test" : [
    [0, [
      { "item" : { "name" : "humantier2head", "parameters" : { "colorIndex" : 1 } }, "rarity" : 0.5 },
      { "item" : { "name" : "humantier2head", "parameters" : { "colorIndex" : 6 } }, "rarity" : 0.5 },
      { "item" : { "name" : "humantier2head", "parameters" : { "colorIndex" : 4 } }, "rarity" : 0.5 },
      { "item" : { "name" : "humantier2head", "parameters" : { "colorIndex" : 8 } }, "rarity" : 0.5 }
    ]]
  ],


    "crewlovejonesshop" : [
    [0, [
      { "item" : { "name" : "crewKEI" } },
      { "item" : { "name" : "flare" } },
      { "item" : { "name" : "lavalamp1" } },
      { "item" : { "name" : "basictv" } },
      { "item" : { "name" : "bunkerpanel1" } },
      { "item" : { "name" : "bunkertv" } },
      { "item" : { "name" : "captainschair" } },
      { "item" : { "name" : "vendingmachine" } },
      { "item" : { "name" : "screenplanet" } },
      { "item" : { "name" : "woodencouch2" } },
      { "item" : { "name" : "coffeemachine" } },
      { "item" : { "name" : "outpostsmallmonitor" } },
      { "item" : { "name" : "outposttable" } },
      { "item" : { "name" : "outpostchair" } },
      { "item" : { "name" : "crewrunningshoes" } },
      { "item" : { "name" : "crewrunningshoes2" } },
      { "item" : { "name" : "crewpenguinglobe" }, "conditions" : [ { "type" : "prerequisite", "quest" : "crewdivewingsmission2.gearup" } ] }
    ]]
    ],


    "crewthorngrazershop" : [
    [0, [
      { "item" : { "name" : "bandage" } },
      { "item" : { "name" : "medkit" } },
      { "item" : { "name" : "redstim" } },
      { "item" : { "name" : "chestfloran1" } },
      { "item" : { "name" : "floranceilingbones" } },
      { "item" : { "name" : "florancouch" } },
      { "item" : { "name" : "floranlight" } },
      { "item" : { "name" : "floranpelt2" } },
      { "item" : { "name" : "floranpelt5" } },
      { "item" : { "name" : "floranshelf" } },
      { "item" : { "name" : "huntingtrophy1" } },
      { "item" : { "name" : "crewstartersword" } }
    ]]
    ],


    "crewspongewaltzershop" : [
    [0, [
      { "item" : { "name" : "colonydeed" } },
      { "item" : { "name" : "hylotlcalligraphy1" } },
      { "item" : { "name" : "hylotlclassicbookcase" } },
      { "item" : { "name" : "hylotlclassicchair" } },
      { "item" : { "name" : "hylotlclassictable" } },
      { "item" : { "name" : "hylotlclassicpainting1" } },
      { "item" : { "name" : "hylotlclassicwardrobe1" } },
      { "item" : { "name" : "hylotllantern1" } },
      { "item" : { "name" : "crewgaragetools" } },
      { "item" : { "name" : "crewminingcrusher" } },
      { "item" : { "name" : "crewsworddisplay" } },
      { "item" : { "name" : "crewliferune" } }
    ]]
    ],


    "crewgoldobotshop" : [
    [0, [
      { "item" : { "name" : "plasticplant" } },
      { "item" : { "name" : "splendidplant" } },
      { "item" : { "name" : "burlapsack" } },
      { "item" : { "name" : "garagetools" } },
      { "item" : { "name" : "juicekeg" } },
      { "item" : { "name" : "kitchentools" } },
      { "item" : { "name" : "medievalchair" } },
      { "item" : { "name" : "medievalcounter" } },
      { "item" : { "name" : "medievaldiningtable" } },
      { "item" : { "name" : "medievallargecookingpot" } },
      { "item" : { "name" : "microwave" } },
      { "item" : { "name" : "hoe" } },
      { "item" : { "name" : "woodenwateringcan" } },
      { "item" : { "name" : "crewgardenspecial" } },
      { "item" : { "name" : "crewwonderbread" } }
    ]]
    ],


    "crewgenekongshop" : [
    [0, [
      { "item" : { "name" : "apexcooldesk" } },
      { "item" : { "name" : "apexaquarium1" } },
      { "item" : { "name" : "apexcoolcupboard" } },
      { "item" : { "name" : "apexcouch" } },
      { "item" : { "name" : "apexcoolserver" } },
      { "item" : { "name" : "bluestim" } },
      { "item" : { "name" : "greenstim" } },
      { "item" : { "name" : "yellowstim" } },
      { "item" : { "name" : "crewantidote" } }
    ]]
    ],


    "crewashblazershop" : [
    [0, [
      { "item" : { "name" : "torch" } },
      { "item" : { "name" : "flare" } },
      { "item" : { "name" : "lavalamp1" } },
      { "item" : { "name" : "basictv" } },
      { "item" : { "name" : "bunkerpanel1" } },
      { "item" : { "name" : "bunkertv" } },
      { "item" : { "name" : "captainschair" } },
      { "item" : { "name" : "vendingmachine" } },
      { "item" : { "name" : "screenplanet" } },
      { "item" : { "name" : "woodencouch2" } },
      { "item" : { "name" : "coffeemachine" } },
      { "item" : { "name" : "outpostsmallmonitor" } },
      { "item" : { "name" : "outposttable" } },
      { "item" : { "name" : "outpostchair" } },
      { "item" : { "name" : "crewpenguinglobe" }, "conditions" : [ { "type" : "prerequisite", "quest" : "crewdivewingsmission2.gearup" } ] }
    ]]
    ],


    "crewdivewingsshop" : [
    [0, [
      { "item" : { "name" : "avianbanner1" } },
      { "item" : { "name" : "crewoldmm" } },
      { "item" : { "name" : "crystaltorch" } },
      { "item" : { "name" : "tribalbookcase1" } },
      { "item" : { "name" : "tribalwallcabinet" } },
      { "item" : { "name" : "tribalcounter1" } }
    ]]
    ]
}