{ 
  "test" : [
          [0, [
            { "item" : { "name" : "humantier2head", "parameters" : { "colorIndex" : 1 } }, "cost" : 100, "rarity" : 0.5 },
            { "item" : { "name" : "humantier2head", "parameters" : { "colorIndex" : 6 } }, "cost" : 100, "rarity" : 0.5 },
            { "item" : { "name" : "humantier2head", "parameters" : { "colorIndex" : 4 } }, "cost" : 100, "rarity" : 0.5 },
            { "item" : { "name" : "humantier2head", "parameters" : { "colorIndex" : 8 } }, "cost" : 100, "rarity" : 0.5 }
          ]]
        ],
		
		"outpostarchitect" : [
          [0, [
            { "item" : { "name" : "outpostplatform" }, "cost" : 2 },
            { "item" : { "name" : "pressurizedsteel" }, "cost" : 1 },
            { "item" : { "name" : "apexshipwall" }, "cost" : 1 },
            { "item" : { "name" : "junktech" }, "cost" : 1 },
            { "item" : { "name" : "outpostairlock" }, "cost" : 50 },
            { "item" : { "name" : "outpostairlocklarge" }, "cost" : 50 },
            { "item" : { "name" : "outpostslidingdoor" }, "cost" : 25 },
            { "item" : { "name" : "plasticplant" }, "cost" : 15 },
            { "item" : { "name" : "outpostlamp" }, "cost" : 5 },
            { "item" : { "name" : "bathroomsink" }, "cost" : 15 },
            { "item" : { "name" : "bathroomstall" }, "cost" : 15 },
            { "item" : { "name" : "bathroomurinal" }, "cost" : 15 },
            { "item" : { "name" : "bathroomtrash" }, "cost" : 15 },
            { "item" : { "name" : "bench" }, "cost" : 15 },
            { "item" : { "name" : "coffeemachine" }, "cost" : 15 },
            { "item" : { "name" : "filingcabinet" }, "cost" : 15 },
            { "item" : { "name" : "outpostlocker" }, "cost" : 15 },
            { "item" : { "name" : "watercooler" }, "cost" : 15 },
            { "item" : { "name" : "outpostpublicchair" }, "cost" : 15 },
            { "item" : { "name" : "outpostchair" }, "cost" : 15 },
            { "item" : { "name" : "outpostradardish" }, "cost" : 50 },
            { "item" : { "name" : "outpostconsole" }, "cost" : 50 },
            { "item" : { "name" : "outpostsecurityconsole" }, "cost" : 50 },
            { "item" : { "name" : "outpostmonitor" }, "cost" : 50 },
            { "item" : { "name" : "outpostdesk" }, "cost" : 15 },
            { "item" : { "name" : "outpostlight" }, "cost" : 5 },
            { "item" : { "name" : "outposttable" }, "cost" : 15 },
            { "item" : { "name" : "outpostfridge" }, "cost" : 50 }
          ]]
          ],
		
		"youroutpostarchitect" : [
          [0, [
            { "item" : { "name" : "outpostplatform" }, "cost" : 2 },
            { "item" : { "name" : "outpostsupport" }, "cost" : 1 },
            { "item" : { "name" : "outpostwall1" }, "cost" : 1 },
            { "item" : { "name" : "outpostwall2" }, "cost" : 1 },
            { "item" : { "name" : "outpostairlock" }, "cost" : 50 },
            { "item" : { "name" : "outpostairlocklarge" }, "cost" : 50 },
            { "item" : { "name" : "outpostslidingdoor" }, "cost" : 25 },
            { "item" : { "name" : "plasticplant" }, "cost" : 15 },
            { "item" : { "name" : "outpostlamp" }, "cost" : 5 },
            { "item" : { "name" : "bathroomsink" }, "cost" : 15 },
            { "item" : { "name" : "bathroomstall" }, "cost" : 15 },
            { "item" : { "name" : "bathroomurinal" }, "cost" : 15 },
            { "item" : { "name" : "bathroomtrash" }, "cost" : 15 },
            { "item" : { "name" : "bench" }, "cost" : 15 },
            { "item" : { "name" : "coffeemachine" }, "cost" : 15 },
            { "item" : { "name" : "filingcabinet" }, "cost" : 15 },
            { "item" : { "name" : "outpostlocker" }, "cost" : 15 },
            { "item" : { "name" : "watercooler" }, "cost" : 15 },
            { "item" : { "name" : "outpostpublicchair" }, "cost" : 15 },
            { "item" : { "name" : "outpostchair" }, "cost" : 15 },
            { "item" : { "name" : "outpostradardish" }, "cost" : 50 },
            { "item" : { "name" : "outpostconsole" }, "cost" : 50 },
            { "item" : { "name" : "outpostsecurityconsole" }, "cost" : 50 },
            { "item" : { "name" : "outpostmonitor" }, "cost" : 50 },
            { "item" : { "name" : "outpostdesk" }, "cost" : 15 },
            { "item" : { "name" : "outpostlight" }, "cost" : 5 },
            { "item" : { "name" : "outposttable" }, "cost" : 15 },
            { "item" : { "name" : "yoursnowoutpostteleporter" }, "cost" : 10000 },
            { "item" : { "name" : "yourjungleoutpostteleporter" }, "cost" : 10000 },
            { "item" : { "name" : "youroceanoutpostteleporter" }, "cost" : 10000 },
            { "item" : { "name" : "outpostfridge" }, "cost" : 50 }
          ]]
          ],
        
		  
		"hylotlarchitect" : [
          [0, [
            { "item" : { "name" : "ornateflooring" }, "cost" : 3 },
            { "item" : { "name" : "ornateroofing" }, "cost" : 3 },
            { "item" : { "name" : "ornatetiles" }, "cost" : 3 },
            { "item" : { "name" : "ornatewall" }, "cost" : 3 },
            { "item" : { "name" : "ornatewood" }, "cost" : 3 },
            { "item" : { "name" : "hylotlclassicbookcase" }, "cost" : 400 },
            { "item" : { "name" : "hylotlclassiccabinet1" }, "cost" : 400 },
            { "item" : { "name" : "hylotlclassicchair" }, "cost" : 400 },
            { "item" : { "name" : "hylotlclassicwardrobe1" }, "cost" : 400 },
            { "item" : { "name" : "hylotllantern1" }, "cost" : 50 },
            { "item" : { "name" : "hylotlpost" }, "cost" : 50 },
            { "item" : { "name" : "hylotlshojidoor" }, "cost" : 200 },
            { "item" : { "name" : "hylotlshorttable" }, "cost" : 400 },
            { "item" : { "name" : "hylotlwaterfeature1" }, "cost" : 400 },
            { "item" : { "name" : "hylotlbed2" }, "cost" : 400 },
            { "item" : { "name" : "poptopplush" }, "cost" : 500 },
            { "item" : { "name" : "turtleplush" }, "cost" : 500 },
            { "item" : { "name" : "unicornplush" }, "cost" : 500 },
            { "item" : { "name" : "bearplush" }, "cost" : 500 },
            { "item" : { "name" : "badgooplush" }, "cost" : 500 }
          ]]
          ],
		  
		"hylotlarchitect2" : [
          [0, [
            { "item" : { "name" : "airlockdoor" }, "cost" : 200 },
            { "item" : { "name" : "arcadeblue" }, "cost" : 500 },
            { "item" : { "name" : "arcadesign" }, "cost" : 500 },
            { "item" : { "name" : "porthole" }, "cost" : 200 },
            { "item" : { "name" : "pressuredoor" }, "cost" : 200 },
            { "item" : { "name" : "clubceilinglights" }, "cost" : 300 },
            { "item" : { "name" : "clubdecks" }, "cost" : 300 },
            { "item" : { "name" : "clublampsmall" }, "cost" : 50 },
            { "item" : { "name" : "clubspeaker" }, "cost" : 300 },
            { "item" : { "name" : "eventlight" }, "cost" : 50 },
            { "item" : { "name" : "hylotlpost" }, "cost" : 200 },
            { "item" : { "name" : "hockeytable" }, "cost" : 400 },
            { "item" : { "name" : "hylotlcashregister" }, "cost" : 300 },
            { "item" : { "name" : "hylotlchair" }, "cost" : 200 },
            { "item" : { "name" : "hylotlcityposter" }, "cost" : 500 },
            { "item" : { "name" : "hylotlconsole" }, "cost" : 500 },
            { "item" : { "name" : "hylotlcounter" }, "cost" : 500 },
            { "item" : { "name" : "hylotlfashionhologram" }, "cost" : 500 },
            { "item" : { "name" : "hylotllamp" }, "cost" : 200 },
            { "item" : { "name" : "hylotlprizecounter" }, "cost" : 500 },
            { "item" : { "name" : "hylotlstoreshelf" }, "cost" : 500 },
            { "item" : { "name" : "hylotltable" }, "cost" : 200 },
            { "item" : { "name" : "hylotlwallshelf" }, "cost" : 200 },
            { "item" : { "name" : "underwaterlight" }, "cost" : 50 },
            { "item" : { "name" : "shippingcontainer" }, "cost" : 500 },
            { "item" : { "name" : "shopline" }, "cost" : 500 }
          ]]
          ],
		  
		"biomeblueprints" : [
          [0, [
            { "item" : { "name" : "toxicchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "toxicchair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "toxiclamp1-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "toxiclamp2-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "toxictable-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "shroombed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "shroomchair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "shroomchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "shroomdoor-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "shroomlamp-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "shroomtable-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "flowerbox-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "flowerlamp-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "movingsunflower-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "petalfountain-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "springchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "reedchair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "reedbed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "reedclock-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "reedlamp-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "reeddesk-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "reeddoor-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "reedchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "reedshelf-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "tarchair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "tarbed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "tarconsole-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "tarlight-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "tarman-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "tardoor-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "tarpitchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rainbowbed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rainbowchair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rainbowchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rainbowdoor-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rainbowtable-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "bonebed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "bonechair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "bonechest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "bonedoor-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "bonetable-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "stonebed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "stonechest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "stonechair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "stonedoor-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "stonetable-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "glowflowerlamp-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "glowbushlamp-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "glowvinelamp-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "glowchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "giantflowerbed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "giantflowerchair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "giantflowerchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "eyebed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "eyechair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "eyechest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "eyedoor-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "icebed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "icechest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "icetable-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "crystalbed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "crystalchair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "crystalchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "crystallamp-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "crystaltable-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rustchair-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rustbed-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rustchest-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rustdoor-recipe" }, "cost" : 5000 },
            { "item" : { "name" : "rusttable-recipe" }, "cost" : 5000 }
          ]]
          ],
		  
		"costumemerchant" : [
          [0, [
            { "item" : { "name" : "bedouinchest" }, "cost" : 4000 },
            { "item" : { "name" : "bedouinhead" }, "cost" : 4000 },
            { "item" : { "name" : "bedouinlegs" }, "cost" : 4000 },
            { "item" : { "name" : "hikerchest" }, "cost" : 4000 },
            { "item" : { "name" : "hikerback" }, "cost" : 4000 },
            { "item" : { "name" : "hikerlegs" }, "cost" : 4000 },
            { "item" : { "name" : "hunterchest" }, "cost" : 4000 },
            { "item" : { "name" : "hunterback" }, "cost" : 4000 },
            { "item" : { "name" : "hunterlegs" }, "cost" : 4000 },
            { "item" : { "name" : "snowinfantryhead" }, "cost" : 4000 },
            { "item" : { "name" : "snowinfantrychest" }, "cost" : 4000 },
            { "item" : { "name" : "snowinfantrypants" }, "cost" : 4000 },
            { "item" : { "name" : "hawaiianhead" }, "cost" : 4000 },
            { "item" : { "name" : "hawaiianchest" }, "cost" : 4000 },
            { "item" : { "name" : "hawaiianlegs" }, "cost" : 4000 },
            { "item" : { "name" : "buccaneerhead" }, "cost" : 4000 },
            { "item" : { "name" : "buccaneerchest" }, "cost" : 4000 },
            { "item" : { "name" : "buccaneerlegs" }, "cost" : 4000 },
            { "item" : { "name" : "hazmatdemohead" }, "cost" : 4000 },
            { "item" : { "name" : "hazmatdemochest" }, "cost" : 4000 },
            { "item" : { "name" : "hazmatdemolegs" }, "cost" : 4000 },
            { "item" : { "name" : "beachcreeperhead" }, "cost" : 4000 },
            { "item" : { "name" : "beachcreeperchest" }, "cost" : 4000 },
            { "item" : { "name" : "beachcreeperlegs" }, "cost" : 4000 },
            { "item" : { "name" : "toxicflowerback" }, "cost" : 4000 },
            { "item" : { "name" : "plaguedoctorhead" }, "cost" : 4000 },
            { "item" : { "name" : "toxicwasteback" }, "cost" : 4000 },
            { "item" : { "name" : "hazmatdemoback" }, "cost" : 4000 }
          ]]
          ],
		  
		"costumemerchant2" : [
          [0, [
            { "item" : { "name" : "wildfungushead" }, "cost" : 4000 },
            { "item" : { "name" : "wildfunguschest" }, "cost" : 4000 },
            { "item" : { "name" : "wildfunguspants" }, "cost" : 4000 },
            { "item" : { "name" : "floweryhead" }, "cost" : 4000 },
            { "item" : { "name" : "flowerychest" }, "cost" : 4000 },
            { "item" : { "name" : "flowerylegs" }, "cost" : 4000 },
            { "item" : { "name" : "floweryback" }, "cost" : 4000 },
            { "item" : { "name" : "reedhead" }, "cost" : 4000 },
            { "item" : { "name" : "woollychest" }, "cost" : 4000 },
            { "item" : { "name" : "woollyback" }, "cost" : 4000 },
            { "item" : { "name" : "woollylegs" }, "cost" : 4000 },
            { "item" : { "name" : "sabertoothhelm" }, "cost" : 4000 },
            { "item" : { "name" : "rainbowcapeback" }, "cost" : 4000 },
            { "item" : { "name" : "rainbowhoodhead" }, "cost" : 4000 },
            { "item" : { "name" : "unicornhead" }, "cost" : 4000 },
            { "item" : { "name" : "rainbowwoodhead" }, "cost" : 4000 },
            { "item" : { "name" : "rainbowwoodchest" }, "cost" : 4000 },
            { "item" : { "name" : "rainbowwoodlegs" }, "cost" : 4000 },
            { "item" : { "name" : "glitchskullhead" }, "cost" : 4000 },
            { "item" : { "name" : "humanskullhead" }, "cost" : 4000 },
            { "item" : { "name" : "avianskullhead" }, "cost" : 4000 },
            { "item" : { "name" : "alpacahead" }, "cost" : 4000 },
            { "item" : { "name" : "alpacachest" }, "cost" : 4000 },
            { "item" : { "name" : "alpacalegs" }, "cost" : 4000 },
            { "item" : { "name" : "lighthelmhead" }, "cost" : 4000 },
            { "item" : { "name" : "bioluminhead" }, "cost" : 4000 },
            { "item" : { "name" : "bioluminchest" }, "cost" : 4000 },
            { "item" : { "name" : "cyclopsyetihead" }, "cost" : 4000 },
            { "item" : { "name" : "frostcrownhead" }, "cost" : 4000 },
            { "item" : { "name" : "eyehead" }, "cost" : 4000 },
            { "item" : { "name" : "eyehead2" }, "cost" : 4000 },
            { "item" : { "name" : "eyeback" }, "cost" : 4000 },
            { "item" : { "name" : "bioluminlegs" }, "cost" : 4000 }
          ]]
          ],
        
        
        "bardinstruments" : [
          [0, [
            { "item" : { "name" : "accordion" }, "cost" : 8888 },
            { "item" : { "name" : "acousticguitar" }, "cost" : 8888 },
            { "item" : { "name" : "banjo" }, "cost" : 8888 },
            { "item" : { "name" : "bassguitar" }, "cost" : 8888 },
            { "item" : { "name" : "bones" }, "cost" : 8888 },
            { "item" : { "name" : "clarinet" }, "cost" : 8888 },
            { "item" : { "name" : "drumkit" }, "cost" : 8888 },
            { "item" : { "name" : "dulcimer" }, "cost" : 8888 },
            { "item" : { "name" : "electricbass" }, "cost" : 8888 },
            { "item" : { "name" : "flute" }, "cost" : 8888 },
            { "item" : { "name" : "harmonica" }, "cost" : 8888 },
            { "item" : { "name" : "harp" }, "cost" : 8888 },
            { "item" : { "name" : "koto" }, "cost" : 8888 },
            { "item" : { "name" : "leadguitar" }, "cost" : 8888 },
            { "item" : { "name" : "microphone" }, "cost" : 8888 },
            { "item" : { "name" : "microphonefem" }, "cost" : 8888 },
            { "item" : { "name" : "musicbox" }, "cost" : 8888 },
            { "item" : { "name" : "nylonguitar" }, "cost" : 8888 },
            { "item" : { "name" : "oboe" }, "cost" : 8888 },
            { "item" : { "name" : "ocarina" }, "cost" : 8888 },
            { "item" : { "name" : "overdriveguitar" }, "cost" : 8888 },
            { "item" : { "name" : "piano" }, "cost" : 8888 },
            { "item" : { "name" : "reedorgan" }, "cost" : 8888 },
            { "item" : { "name" : "rockorgan" }, "cost" : 8888 },
            { "item" : { "name" : "saxophone" }, "cost" : 8888 },
            { "item" : { "name" : "steeldrum" }, "cost" : 8888 },
            { "item" : { "name" : "trumpet" }, "cost" : 8888 },
            { "item" : { "name" : "violin" }, "cost" : 8888 }
          ]]
        ]
}